<div class="y-comments">
  <ul class="y-comments__ul">
      {{#each}}
        <li class="y-comments__li">
          <div class="y-comments__text">
              {{#link-to 'comment' this}}{{text}}{{/link-to}} <span
              class="y-comments__author">by {{author.name}} {{author.surname}}</span>
          </div>

          <div {{bind-attr class=":y-comments__answer answer::y-comments__answer_waiting"}}>
              {{#if answer}}
                  {{answer}}
              {{/if}}
          </div>
        </li>
      {{/each}}
  </ul>
</div>

{{outlet}}