<div class="y-question">
  <h1 class="y-question__title">{{title}}</h1>

  <div class="y-question__created">{{createdOn}}</div>

  <div class="y-question__description">
      {{description}}
  </div>

  <div class="y-question__answer">
      {{answer}}
  </div>

  <div class="y-question__new-comment">
      {{#link-to 'comments.new'}}new comment{{/link-to}}
  </div>

    {{#if hasComments}}
      <div class="y-question__comments">
          {{#link-to 'comments' this}}show comments{{/link-to}}
      </div>
    {{/if}}
</div>

{{outlet}}