<div class="y-question">
  <div class="y-question__text">
      {{text}}
    <span {{bind-attr class="isAnswerCorrect:y-question__answer_correct isAnswerIncorrect:y-question__answer_incorrect isAnswerWaiting:y-question__answer_waiting"}}>
      &mdash;
        {{#if isAnswerCorrect}}
            {{answer}}
        {{else}}
            {{#if isAnswerIncorrect}}
                {{answer}}
            {{else}}
              waiting
            {{/if}}
        {{/if}}
    </span>
  </div>

  <div class="y-question__created-on">{{createdOn}}</div>
  <div class="y-question__author">by {{author.name}} {{author.surname}}</div>

    {{#unless answer}}
      <div class="y-question__controls">
        <button {{action 'answer' 'yes'}} class="btn success">Yes</button>
        <button {{action 'answer' 'no'}} class="btn alert">No</button>
      </div>
    {{/unless}}
</div>