<div class="y-question">
  <div class="y-question__text">
      {{text}}

    <span {{bind-attr class=":label :radius isAnswerCorrect:success isAnswerIncorrect:alert"}}>
        {{#if isAnswerCorrect}}
            {{answer}}
        {{else}}
            {{#if isAnswerIncorrect}}
                {{answer}}
            {{else}}
              waiting
            {{/if}}
        {{/if}}
    </span>
  </div>

  <div class="y-question__meta">
    <div class="y-question__created-on">
        {{fa-icon "clock-o"}} {{format-date createdOn}}
    </div>
    <div class="y-question__author y-author">
      {{author-name author=author}}
    </div>
  </div>

    {{#unless answer}}
      <div class="y-question__controls">
        <button {{action 'answer' 'yes'}} class="button small success radius">
            {{fa-icon 'check' size=2}}
        </button>
        <button {{action 'answer' 'no'}} class="button small alert radius">
            {{fa-icon 'times-circle-o' size=2}}
        </button>
      </div>
    {{/unless}}
</div>